<mat-toolbar>
    <span>Bruno Bébr</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Linkedin">
      <img src="../../assets/icons/linked.svg">
    </button>
    <button mat-icon-button class="example-icon" aria-label="GitHub">
        <img src="../../assets/icons/github.svg">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Email">
        <img src="../../assets/icons/email.svg">
    </button>
  </mat-toolbar>