<mat-toolbar>
    <span>Bruno Bébr</span>
    <span class="example-spacer"></span>
    <a href="https://www.linkedin.com/in/bruno-b%C3%A9br-bb793a220/" target="_blank">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Linkedin">
      <img src="../../assets/icons/linked.svg">
    </button>
    </a>
    <a href="https://github.com/BrunoBebr" target="_blank">
    <button mat-icon-button class="example-icon" aria-label="GitHub">
        <img src="../../assets/icons/github.svg">
    </button>
    </a>
    <a href="mailto:bruno.bebr@gmail.com" target="_blank">
    <button mat-icon-button class="example-icon" aria-label="Email">
        <img src="../../assets/icons/email.svg">
    </button>
    </a>
  </mat-toolbar>