
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>


<mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile class="canyon">
      
        <span class="animated chbigtxt ">Hi, I'm <span class="orange">Bruno</span>.</span>
        <p class="bigtxt  ">Full stack developer based in Czechia.</p>

        <button mat-raised-button class="orange-box button puff-in-center" (click)="scrollToElement(about)">View more</button>
      
    </mat-grid-tile>
  </mat-grid-list>
  
  <div class="about-me" #about>
    <div class="sliders" data-aos="fade-left" >
      <mat-icon class="icons">sentiment_very_satisfied</mat-icon>
       <p>My characteristics</p>
      <p class="sliders-sml">
          My name is Bruno Bébr. I'm student at 
          <a href="https://www.sps-prosek.cz/" target="_blank" class="orange">
            Technical high school at Prosek in Prague</a> studying Development of web apps, C# apps and games.
            I'm currently <span class="orange">{{ age }} years old</span>. I was born in Prague, Czech Republic. 
            I developed a strong <span class="orange">interest in Technology, AI and EV's</span>. 
            I like challenges and learning new things.
        </p>
      </div>
     
      <div class="sliders" data-aos="fade-right">
          <mat-icon class="icons">verified</mat-icon>
          <p>Reliability</p>
          <p class="sliders-sml">I'll do my best to complete all your tasks 
            <span class="orange">without errors</span> and with 
            <span class="orange">clean code</span> on time.
          </p>
      </div>
    
      <div class="sliders" data-aos="fade-left">
        <mat-icon class="icons">hotel_class</mat-icon>
        <p>IT Skills</p>
        <p class="sliders-sml">I'm mostly focused on developing 
            <span class="orange">Angular</span> and 
            <span class="orange">WordPress</span> applications. I also love doing more complex
            <span class="orange">SQL</span>  queries. I can also work in 
            <span class="orange">PHP</span>, 
            <span class="orange">jQuery</span>,
            <span class="orange">TS</span>,
            <span class="orange">HTML</span>, 
            <span class="orange">CSS</span>, 
            <span class="orange">SCSS</span>, 
            <span class="orange">Python</span>, 
            <span class="orange">G-CODE</span>.
         </p>
     </div>

     <div class="sliders" data-aos="fade-right">
      <mat-icon class="icons">g_translate</mat-icon>
      <p>Language proficiency</p>
      <p class="sliders-sml">
        <span class="orange">Czech</span> - Native proficiency
        <br>
        <span class="orange">English</span> - Professional working proficiency
        <br>
        <span class="orange">Slovak</span> - Professional working proficiency
        <br>
        <span class="orange">German</span> - Elementary proficiency
      </p>
    </div>

      <div class="sliders" data-aos="fade-right">
        <mat-icon class="icons">schedule</mat-icon>
        <p>Fast learning</p>
        <p class="sliders-sml">I'm <span class="orange">fast learner</span> ! I can learn new programming languages, programs, techniques quite quickly.</p>
    </div>
  
    <div class="sliders" data-aos="fade-left">
        <mat-icon class="icons">desktop_mac</mat-icon>
        <p>Platforms</p>
        <p class="sliders-sml">I can easily work in <span class="orange">Windows</span>, <span class="orange">MacOS</span>, <span class="orange">Android</span> and <span class="orange">IOS</span>.</p>
    </div>

    <div class="sliders" data-aos="fade-right">
      <mat-icon class="icons">wysiwyg</mat-icon>
      <p>Software knowlage</p>
      <p class="sliders-sml">I can smoothly work in <span class="orange">Oracle SQL Developer</span>, <span class="orange">MS Office</span>, <span class="orange">Photoshop</span>, <span class="orange">Illustrator</span>, <span class="orange">Premiere Pro</span>, <span class="orange">DaVinci Resolve</span>, <span class="orange">Cinema 4D</span>, <span class="orange">Cura Slicer</span> and <span class="orange">PrusaSlicer 3D</span>. </p>
    </div>
    <div class="sliders" data-aos="fade-left">
      <mat-icon class="icons">desktop_mac</mat-icon>
      <p>Recent projects</p>
      <a  href="http://kucharkaprotloustiky.rf.gd/" target="_blank" class="orange sliders-sml">KPT - (Kuchařka pro tlouštíky)</a>
    </div>

      </div>


    
  