.centered{
    margin: auto;
   
}
.icon img{
    width: 40x;
    height: 40px;
    position:absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.icon {
    width: 50px;
    height: 50px;
    padding: 10px;
}
.sml {
    font-size: 1vw;
}
.bgr {
    font-size: 2vw;
}