<app-header></app-header>
<app-webdev></app-webdev>

<div id="footer">
    <mat-toolbar>
        <mat-toolbar-row>
            <span class="centered bgr">Do you want to contact me ?</span>
            
        </mat-toolbar-row>
        
          <mat-toolbar-row>
            <div class="centered">
                <button mat-icon-button class="icon favorite-icon" aria-label="Linkedin">
                    <img src="../../assets/icons/linked.svg">
                </button>
                <button mat-icon-button class="icon" aria-label="GitHub">
                    <img src="../../assets/icons/github.svg">
                </button>
                <button mat-icon-button class="icon" aria-label="Email">
                    <img src="../../assets/icons/email.svg">
                </button>
                <button mat-icon-button class="icon" aria-label="Email">
                    <img src="../../assets/icons/instagram.svg">
                </button>
                <button mat-icon-button class="icon" aria-label="Email">
                    <img src="../../assets/icons/messenger.svg">
                </button>
                <button mat-icon-button class="icon" aria-label="Email">
                    <img src="../../assets/icons/twitter.svg">
                </button>

            </div>
          </mat-toolbar-row>
        
          <mat-toolbar-row>
            <span class="centered sml">bebr.cz | © Bruno Bébr | designed by Bruno Bébr | coded by Bruno Bébr</span>
            
          </mat-toolbar-row>
      </mat-toolbar>
</div>